[2014-05-08 08:32] asbjornenge opened #3 "Publish on npm?"
I would very much like to:

[code]

:+1:

[2014-05-08 08:34] asbjornenge opened #4 "Optional sinon dependency"
Would be great if the sinon dependency could be made optional.

[2014-06-09 05:03] SomeKittens opened #6 "Does not work with AngularFire."
[code]

[2014-06-09 13:49] #6 closed, assigned to nobody

[2014-07-22 16:30] katowulf opened #9 "remove() not working with queries"
See [should only remove keys in query if used on a query](https://github.com/firebase/angularFire/blob/release_0.8/tests/unit/firebase.spec.js#L200) unit test  in AngularFire's fierbase.spec.js.

For some reason, when working with a query, the ref's keys are not getting removed, even though it appears to be calling .remove().

[2014-07-24 14:43] #3 closed, assigned to nobody

[2014-07-28 23:05] jeshuaborges opened #11 "Request: Bower support"

[2014-07-30 16:00] jwall opened #12 "Angular Dependency"
What do you think about not using Angular so this can be used for nodejs? Right now there is an angular.isFunction dependency.

Also, I know this is work in progress, but just pointing out unauth is not implemented.

Thank you for this great project!

[2014-07-30 21:16] bendrucker opened #13 "Set up linting"
Especially while test coverage is lowish it'll catch things like #12

[2014-07-30 21:24] bendrucker opened #14 "Use Browserify to build"
@katowulf just wanted to sync w/ you on this — was thinking of doing it this weekend. Would allow the UMD wrapper to be eliminated from src. Also would make it easy to split MockFirebase and MockFirebaseSimpleLogin into separate modules for convenience. This is a big enough change that I just wanted to check if you had any big things on a local branch to save a big merge headache.

[2014-07-30 21:25] #12 closed, assigned to nobody

[2014-08-05 01:38] #14 closed, assigned to bendrucker

[2014-08-05 01:38] #4 closed, assigned to nobody

[2014-08-05 01:38] #11 closed, assigned to nobody

[2014-08-05 01:38] #13 closed, assigned to bendrucker

[2014-08-08 14:25] katowulf opened #17 ".name() not matching Firebase behavior"
.name() is returning something like "data/b" for key `b` and should be returning just "b".

[2014-08-08 14:25] katowulf opened #18 "toString() returning [object Object] in jasmine tests"

[2014-08-08 14:41] #18 closed, assigned to nobody

[2014-08-08 14:41] #17 closed, assigned to nobody

[2014-08-12 22:33] mattvv opened #19 "TypeError: Cannot read property 'prototype' of undefined"
Hey @katowulf - Loving that you guys are making a mock library for this.

I know this is beta/unstable but i'd thought i'd post anyway.

I'm having trouble following the example you guys listed using proxyquire. When I follow it and run my tests I get:

[code]

[2014-08-13 01:47] #19 closed, assigned to nobody

[2014-08-24 14:53] calendee opened #21 "invalid link to AngularFire"
The README has a link to : https://github.com/firebase/angularFire/blob/master/tests/unit/AngularFire.spec.js

That page 404's right now.

Perhaps it was supposed to be https://github.com/firebase/angularfire/tree/master/tests/unit ?

[2014-08-24 17:06] #21 closed, assigned to nobody

[2014-08-29 12:26] mickhansen opened #22 "Integration with angularFire"
Is there any neat trick to get it working beautifully with angularFire?
A lot of my code is based on angularFire and i would like to use mockfirebase to mock out the internals.

I've digged through a lot of code trying to get something simple to work:

[code]

In this case the callback will never fire. `.once('value')` will fire instantly internally and that will trigger a promise resolve inside a

[2014-08-29 12:49] #22 closed, assigned to nobody

[2014-09-26 15:48] davideast opened #24 ".bind() errors when running in PhantomJS"
When creating a MockFirebase instance the following error occurs when running PhantomJS.

`TypeError: 'undefined' is not a function (evaluating 'self.childComparator.bind(self)')`

This is most likely due to PhantomJS being on ECMAScript 3.

[2014-10-10 19:29] #24 closed, assigned to nobody

[2014-10-10 20:16] rlivsey opened #26 "Spy performance"
This may be unique to my setup (Ember / QUnit) but it seems the spies are causing tests to take a rather long time.

Commenting out the [spy factory creation](https://github.com/katowulf/mockfirebase/blob/v0.3.1/src/MockFirebase.js#L118-L122) on each MockFirebase instance takes an individual test down from ~1800ms to ~80ms so that seems to be the culprit.

Maybe spies should be able to be opt it /

[2014-10-16 17:53] katowulf opened #28 "Window.mockfirebase.MockFirebase undefined with browserify/Phantom.js"
### This code:

[code]
### Produces this error:

PhantomJS 1.9.7 (Mac OS X) ERROR
  TypeError: 'undefined' is not an object (evaluating 'window.mockfirebase.MockFirebase')
  at /var/folders/qb/jnq_07vx0bg1j4px88vgyb1c0000gn/T/b799bb28ad592dec7a58ff2003892f0af9b74402.browserify:10202:0 <- /Users/katowulf/gh/firebase-util/bower_components/mockfirebase/browser/mockfirebase.js:10201:0
PhantomJS 1.9.7

[2014-10-19 23:03] #26 closed, assigned to bendrucker

[2014-10-28 11:19] #28 closed, assigned to nobody

[2014-11-06 11:51] bendrucker opened #29 "Deprecate snapshot.name and ref.name"

[2014-11-06 13:55] #29 closed, assigned to nobody

[2014-11-17 18:47] mwq27 opened #30 "README section on failNext should be updated"
The comments in the source code for failNext shows more method support :

[code]

[2014-11-17 19:00] jwngr opened #32 "Update to Firebase 2.0.x"
Full changelog is [here](https://www.firebase.com/docs/web/changelog.html).

This essentially includes two major pieces:
1. Get rid of the Simple Login mock and move all methods into the core `Firebase` object. These changes came in Firebase 1.1.0.
2. Rename a few methods and add the new query methods. These changes came in Firebase 2.0.0.

[2014-11-17 19:07] #30 closed, assigned to bendrucker

[2014-11-28 13:17] bendrucker opened #34 "MockFirebase.override is broken"
https://github.com/katowulf/mockfirebase/blob/master/browser/mockfirebase.js#L10070

`mockfirebase` should be capitalized when attaching the method

[2014-11-28 13:46] #34 closed, assigned to nobody

[2014-11-30 03:47] lowe0292 opened #36 "onAuth function is undefined"
I'm trying to mock a service that's connected to firebase and includes auth from 2.0.4.

My service is functional (I've tested it manually), but my unit test keeps throwing the following error:

`TypeError: 'undefined' is not a function (evaluating 'ref.onAuth')`

[2014-11-30 13:04] #36 closed, assigned to nobody

[2014-12-02 22:52] jamestalmage opened #37 "Consider switching to blank default data."
I have found myself confused on a couple occasions when I forget to set the default data to blank.
While I'm sure that set of default data is helpful for your internal tests (and angularFires, etc), it's just confusing when you forget it exists.

I think the only sensible default is a blank firebase.

[2014-12-04 23:21] jamestalmage opened #38 "Consider throwing if there is nothing to flush."
Mimic the behavior of angulars `$timeout.flush()`. If it is called and there are no changes to be flushed, it should throw an error. The rationale is that calling `flush` on an empty queue inside a unit tests indicates that the user has a misunderstanding about the current state of his/her application. Rather than silently ignoring it, this should be brought to the users attention.

[2014-12-05 18:23] #38 closed, assigned to bendrucker

[2014-12-05 20:11] #37 closed, assigned to nobody

[2014-12-09 15:48] bendrucker opened #39 "Firebase 2.0 queries"

[2014-12-09 15:49] bendrucker opened #40 "Firebase 2.0 auth"

[2014-12-09 15:50] #32 closed, assigned to nobody

[2014-12-10 17:36] katowulf opened #41 "Can't get 0.7.0 working with angularFire-seed"
Hey Ben,

Just upgraded mockfirebase to 0.7.0 in angularFire-seed and can't tell why nothing exists on window or $window:

[code]

Outputs:

[code]

Have I missed something terribly obvious in the upgrade?

[2014-12-10 17:50] #41 closed, assigned to nobody

[2014-12-20 18:21] #40 closed, assigned to katowulf

[2014-12-22 17:55] katowulf opened #43 "Add auth instructions to readme"
Add instructions for using auth to the readme.

[2014-12-22 17:56] katowulf opened #44 "Add a getting started section to readme"
Improve instructions for using mockfirebase. Add some instructions on creating a hello world test case as well as some recipes for common scenarios.

[2014-12-22 17:58] katowulf opened #45 "Remove "specifying data" from the readme"
No longer relevant. Setting default/initial data is now done via set().

[2014-12-25 18:52] #43 closed, assigned to bendrucker

[2014-12-25 18:52] #44 closed, assigned to bendrucker

[2014-12-25 18:52] #45 closed, assigned to bendrucker

[2014-12-25 18:56] bendrucker opened #47 "Update description"
Description on GH should read "Firebase mock library for writing unit tests"

[2014-12-27 20:51] katowulf opened #48 "Add release procedure to docs"
When you have a few spare cycles, could you document the release procedure?

I tried to work through this today and couldn't figure it out without expending energy and thought. I presume you want it to work something like this? Am I missing any steps?

[code]

[2014-12-27 20:52] #47 closed, assigned to katowulf

[2014-12-28 08:56] #48 closed, assigned to bendrucker

[2015-01-02 00:35] annabellor opened #50 "Angularjs example"
I'm really searching for an angularjs example, where can I use this, do I need to inject the $firebase and how to use it with a service?

Do some one have that for me? I'm new to firebase in combination with angularjs

[2015-01-02 18:15] bendrucker commented on #50
I assume you're using AngularFire since you're referencing `$firebase`. You don't need to do anything special with MockFirebase + Angular and AngularFire's not actually involved here either. In your code you're calling `new Firebase`. You'll need to override `Firebase` with `MockFirebase`:

https://github.com/katowulf/mockfirebase/blob/master/tutorials/override.md

[2015-01-02 18:15] #50 closed

[2015-01-02 22:54] annabellor commented on #50
I really don't know where to start, I have tried your suggestion but it's not working for me (see below). With $http angular service, you have an $httpBackend and you can stub your data (for testing purpose). With Mockfirebase I really don't know where to start/mock data, sorry for my noobness, but check this out.

This is my service:

[code]

Test:
[code]
and when I run it, I get this:

[code]

I

[2015-01-02 23:10] bendrucker commented on #50
You're injecting the service before you do the overriding. You need to make sure `MockFirebase.override` is called before any code calls `Firebase`. If you go and inject `'MyFirebaseService'` in your test you're invoking `Firebase` before you call `override`.

[2015-01-02 23:53] annabellor commented on #50
Thanks for the quick response, but it does not work for me... I miss something but I don't know what. Tried the following:

[code]

And

[code]

Still the same errors :'(

[2015-01-03 00:14] bendrucker commented on #50
Alright, well this is where I'll have to bow out then. This isn't related to MockFirebase and is more to do with standard testing patterns in JS. If your project is open source feel free to open an issue there and @ mention me.

[2015-01-03 19:15] katowulf commented on #50
@annabellor, if you check out the test units for AngularFire, you'll see that we use this magic little mock to [inject MockFirebase in place of regular Firebase](https://github.com/firebase/angularfire/blob/master/tests/mocks/mocks.firebase.js). Any other issues you are having can also probably be resolved by looking at AngularFire's test units.

Cheers!

[2015-01-03 22:30] annabellor commented on #50
Thanks for your time, it's not open source, so I can not mention you. But if you have the time to look at it via, eg teamviewer, let me know!

[2015-01-05 15:19] annabellor commented on #50
@bendrucker and @katowulf
Thanks for the help, I have something, but I don't know if this is the right way to read my stubbed data.

This is a piece of the data in firebase:
[code]

I have added a ref() to the object.
[code]

In my test folder, I add the mockfirebase:
[code]

This is the actual test
[code]

When I do this: ```welcome.$$conf.inst._ref.getData()``` instead of ```welcome.title```, it

[2015-01-05 20:36] ghost opened #51 "Stubbed data object with an array is an object instead of an array"
Me again :).

Maybe you can clarify this for me, when I have stubbed data like this:

[code]

Where `ref.getData().level1.welcome.mockarray` is an object instead of an array, I can not use the array functions (like length, etc). I expected it to be an array. Is this correct or an bug? And if it's correct, why?

With the $httpBackend mock from angular, the same data (`level1.welcome.mockarray`) wou

[2015-01-05 20:40] #51 closed, assigned to nobody

[2015-01-06 17:53] katowulf opened #52 "Strange $ signs in error messages"
Several of the assertion errors incorrectly include a `$` in front of the method names. Also, they should have `()` at the end. For example:

Should probably be:

[2015-01-07 14:26] #52 closed

[2015-01-07 14:30] bendrucker commented on #52
I only found an issue with `update`. What was `$update` is now `"update"`. My preferred documentation is to always use the JavaScript meaning of "call," meaning that you call a function reference and not `fn()`. Nitpicky semantics aside, the important convention is that you then have the ability to use parentheses and clearly express expected arguments (e.g. the method headers in the API ref).

[2015-01-07 21:11] annabellor commented on #51
Yes I saw that, I hoped mockfirebase would support it, but I understand why not. Thanks!

For the folks that want an array, just create it your self. Let (mock)firebase be it's self and you can do create stuff you want/need.

[2015-01-07 21:14] annabellor commented on #50
Thanks for your input katowulf. Idd getWelcome is not there, changed it.

I'm not following the Thinkster.io tutorial, they never have worked for me. But do you mean the factory or the object that i'm returning in the factory?

[2015-01-08 15:21] maverickcoder opened #53 ".parent() always returns null"
I create a new mockfirebase instance and pass json to default to. I can then use getData which shows the whole structure is present.

I then use .child to navigate to a sub path, eg ('/child1/child2');

I then use .parent() to attempt to get to ('/child1') but it always just returns null.

Is this a bug, or any advice please?

Thanks. Ed

[2015-01-08 17:30] bendrucker commented on #53
Please post code that reproduces this, not fragments of the calls

[2015-01-08 18:20] #53 closed

[2015-01-09 01:17] katowulf opened #54 "Create a new release version"
@bendrucker I'm going to cut a release tomorrow with the latest, so I can use it in the latest firebase.util release coming out shortly. Let me know if there any outstanding issues.

[2015-01-09 01:20] bendrucker commented on #54
Nothing outstanding. Just pushed 0.9.0.

[2015-01-09 01:20] #54 closed

[2015-01-12 19:16] bendrucker opened #55 "Events should be dequeued after run/cancel"
@katowulf Wanted to consult you on what may (but probably won't) be a breaking change. The flush queue is exposing a lot of internal status and I'm not sure that's necessary based on your described use case.

It's bugging me that you can call `event.run` and then a flag is set that basically makes sure the event gets skipped in a future `queue.flush` call. This basically amounts to a regression in

[2015-01-12 19:25] katowulf commented on #55
Agreed; an oversight on my refactor of the flush queue. I don't think it breaks any of my code to make this change, if it does then that's probably a bug, too.

[2015-01-12 19:31] bendrucker commented on #55
Cool I'll knock this out as a patch this evening

[2015-01-12 23:29] #55 closed

[2015-01-16 16:04] bendrucker opened #57 "Support snapshot.exists"

[2015-01-16 16:05] bendrucker opened #58 "Support ref.changeEmail"

[2015-01-16 16:13] #57 closed

[2015-01-20 21:16] jamestalmage opened #59 "Implement `Firebase.ServerValue.TIMESTAMP`"

[2015-01-20 21:16] jamestalmage commented on #59
Docs (here)[https://www.firebase.com/docs/web/api/servervalue/timestamp.html]

[2015-01-20 21:21] jamestalmage commented on #59
Some simple testing, and the value is a json object:

[code]

[2015-01-20 21:27] jamestalmage commented on #59
This value gets replaced with a timestamp from the server when the object is saved. Should be pretty easy to detect, but the question is how to handle setting the value for the timestamp in the mock context:

   1. The time `set`/`push`/`update`, etc. is called.
   2. The time the queued action is flushed.
   3. A predictable counter that has nothing to do with actual time (makes tests predictable

[2015-01-20 22:53] bendrucker commented on #59
Just 2. If people want to mock the value they can use [Sinon's fake time globals](http://sinonjs.org/docs/#clock).

[2015-01-20 23:55] jamestalmage commented on #59
#60 provides 4 (configurable callback) with a default of 2 (time the queued action is flushed).

[2015-01-21 00:16] jamestalmage commented on #59
The problem with not providing a configurable option, is that it would make difficult testing how your app handles specific timing scenarios (what if this value was saved first, last, in the middle, etc).

[2015-01-21 02:35] bendrucker commented on #59
Not sure I understand. You have full [event-level control over the flush queue](https://github.com/katowulf/mockfirebase/blob/master/API.md#getflushqueue---array). Can you provide an example scenario where there's a need to make server times configurable?

[2015-01-21 04:06] jamestalmage commented on #59
Timestamps are measured in milliseconds and it is entirely possible to have two separate calls to Date.now() return the exact same value (in fact it is likely: a trivial test on my machine runs 9,000 times within a millisecond). You could monkey around with the flush queue and fake timers, but it gets complex.

I'm writing tests for my project against #60 right now. I'm finding the default impleme

[2015-01-21 04:15] jamestalmage commented on #59
I get that some of this could be done with Sinon's fake time globals (indeed the default implementation allows just that) - but I can imagine situations where I'd want to test handling time offsets between the server and client, in which case you'd want to use Sinon to fake client time, and a custom callback to fake server time.

[2015-01-21 06:41] jamestalmage commented on #39
@bendrucker How close are you on this? Can I help?

Looking [at this](https://www.firebase.com/docs/web/guide/retrieving-data.html#section-ordered-data) I'm guessing you will need three comparators:

  1.  `orderByKey`
  2.  `orderByPriority`
  3.  `orderByChild(child)` - generates a comparator for that specific child

The comparators are non trivial. I'm counting at least a dozen test cases for t

[2015-01-21 12:44] bendrucker commented on #39
Basically no progress. The internals of all of the change propagation and query stuff is extremely complex with a bunch of methods highly coupled together.

Would love a PR no matter how small. I'm still debating whether these additions merit a full rewrite of the internals or whether we can get by hacking them on as is.

[2015-01-21 12:53] bendrucker commented on #59
Good point. Is there a good reason to tie this to each reference instance? Since it's supposed to represent the time on Firebase's servers I can't see a reason why separate references should need to test separate values. That would mean moving the "set callback" method to the constructor and making it a closure.

[2015-01-21 14:27] jamestalmage commented on #59
In my PR `setTimestampGenerator()` walks up to the root and sets it there. Likewise, `_generateTimestamp()` walks up to the root and uses the callback found there. So it gets set universally.

[2015-01-21 15:03] bendrucker commented on #59
The only reason that loop would be necessary is if two totally different references should be allowed to have different timestamps. I'm saying they should and putting the logic on the `ref` instances is inefficient and needlessly complicated.

[2015-01-21 15:53] jamestalmage commented on #59
I'd say you want a setter of some kind. Allows `ref` to be created and populated in a `beforeEach` and individual suites/tests to change the timestamp implementation.

[2015-01-21 15:57] jamestalmage commented on #59
The opposite. That loop insures the callback is only set/retrieved from the root.

[2015-01-21 16:00] bendrucker commented on #59
A setter is fine. I'll happily merge something that adds `Firebase.setServerClock(fn)`, otherwise I'll take care of this when I get a chance.

[2015-01-21 16:34] jamestalmage commented on #59
The issue with a global setter like you suggest would be that it has side effects that span multiple tests.

[code]

[2015-01-21 17:07] bendrucker commented on #59
So `setClock` and `restoreClock`

[2015-01-21 17:25] jamestalmage commented on #59
done in #60

[2015-01-21 20:26] #59 closed

[2015-01-21 20:27] bendrucker commented on #59
Sorry to not give you commit credit but it ended up being way faster to just rewrite this. Cut a bunch of code and dropped the behavior of calling the clock function with the reference. If you can give me a case where you absolutely need the latter I'll add it.

[2015-01-22 03:13] jamestalmage commented on #39
See #61.

[2015-01-22 18:08] allannaranjo opened #62 "Support onDisconnect()"
Looking at firebase.js and mockfirebase.js I see that the onDisconnect method is not implemented.
This is causing our test to fail.

See firebase onDisconnect:

    E.prototype.ia = function() {
        return new $(this.m, this.path, this.name())
    };
    E.prototype.onDisconnect = E.prototype.ia;

[2015-01-22 20:44] bendrucker commented on #62
That's correct. Right now you can just mutate `MockFirebase.prototype` so that `ref.onDisconnect` is an identity/noop. Otherwise online/offline support is on my list.

[2015-01-25 17:27] katowulf commented on #62
So, for example, my test units have some items like this (which I use to mock the new 2.0 methods):

[code]

[2015-02-03 11:25] Grety opened #66 "Basic tutorial doesn't work out of the box"
MockFirebase.override() doesn't seem to exist

[2015-02-03 22:05] katowulf commented on #66
Not enough detail here to repro issue. It [clearly exists](https://github.com/katowulf/mockfirebase/blob/master/browser/mockfirebase.js#L11523).

[2015-02-03 23:09] #66 closed

[2015-02-03 23:10] bendrucker commented on #66
There are even smoke tests against it:

https://github.com/katowulf/mockfirebase/blob/master/test/smoke/globals.js

It's only in the browser build.

[2015-02-04 02:02] Grety commented on #66
Am I getting something wrong? the tutorial clearly states:
npm install MockFirebase
var MockFirebase = require('MockFirebase').MockFirebase;
However MockFirebase.override() is not accessible.
I'm using it from Node.js 0.10.35

[2015-02-04 14:54] katowulf commented on #66
Once again, not enough detail. What tutorial? Where? I've looked through everything in tutorials/ and the readme and not found any such instructions.

I did find [this in the tutorials](https://github.com/katowulf/mockfirebase), however, which is linked in the readme, and explains that override() is for Firebase on the window object, which would preclude usage in node.

Please provide enough detai

[2015-02-04 16:04] Grety commented on #66
Although, as you mentioned, it can be inferred from the reading more docs that it replaces window.Firebase, and thus cannot be used in Node.js, this [Basics Tutorial](https://github.com/katowulf/mockfirebase/blob/master/tutorials/basic.md) doesn't show this evidently. And a tutorial exists for stating basic things. So I still insist that it this .md file that should be corrected.
I was on that pag

[2015-02-04 17:34] bendrucker commented on #66
https://github.com/katowulf/mockfirebase/blob/master/tutorials/proxyquire.md

[2015-02-05 04:03] katowulf commented on #66
Thanks for the link, that certainly clarifies things a bit. So you read through the Basics Tutorial under the assumption that it applied to node.js. Appreciate both the feedback and the time you took to report the issue. Hopefully Ben's fix will help others from running into the same confusion. Cheers.

[2015-02-05 04:46] Grety commented on #66
Thanks for update! Looks like project is alive and the team reacts in a timely fashion!
I will continue to post more as long as  I encounter. I've got a couple of more serious issues already

[2015-02-05 13:10] Grety opened #67 "ref.child().push and childRef().push do not interfere"
Any modification on ref.child('childname') will not reflect on a childRef which was created from the same URL with adding '/childname'
[Code on jsfiddle](http://jsfiddle.net/Grety/vceLvLLr/)
This doesn't happen, I guess, because these two refs appear to be two different objects.
However it differs from behavior of Firebase which locks these siblings through a singleton: database.
Complex applicati

[2015-02-05 13:34] Grety opened #68 "Validate event names"
When trying to subscribe (with `.on()` or `.once()`) on a MockFirebase object with a wrong event name get a misleading error `Uncaught TypeError: Cannot read property 'push' of undefined`

[2015-02-05 13:46] Grety opened #69 "Run events scheduled during a flush"
Transactions work like a charm, however require double `.flush()` call and do not work for child nodes. (you need a direct reference to the item for transaction).
[jsfiddle code](http://jsfiddle.net/Grety/2wq2dfvn/)
I guess there is nothing to do about it since on transaction there is a deferred item placed in queue. But this is not evident. And it forced me to debug the MockFirebase to understand

[2015-02-05 14:13] bendrucker commented on #69
This is not related to transactions. It has to do with how the flush queue is designed. When you created deferred operations (writes or reads) from within another deferred operation, the brand new operation is not flushed in the same run. You need to flush again. If I'm misinterpreting the issue please elaborate on what's unexpected.

[2015-02-05 14:15] bendrucker commented on #68
Just notes for me here, I'll fix this. Firebase logs:

[2015-02-05 14:20] Grety commented on #69
The fact that you have a flush queue is not evident. Those who use your product are not the authors and have no clue about its internals...
I will prepare a tutorial and ask you to add a link to it on the the main page among basics, errors and overrides

[2015-02-05 14:23] bendrucker commented on #67
Yeah I think this is typically a sign of code smell but worth implementing anyway for consistency. It's worth noting that it's not possible to exactly match the native behavior. Implementing this, without using an ES6 `WeakMap`, creates a memory leak. I'm cool with doing that because I highly doubt anyone's using MF in a situation where that would matter.

[2015-02-05 14:25] bendrucker commented on #69
I'll happily take a PR that clarifies the functionality of the flush queue

[2015-02-05 14:34] bendrucker commented on #69
Actually I'd like to think about changing this behavior first.

Angular doesn't actively prevent the deferred queue from adding events that will fire in the same tick: http://plnkr.co/edit/frod0TEi1mLI3GKr3uHq?p=preview

@katowulf Any particular reason why it needs to be the way it is now?

[2015-02-05 15:01] Grety commented on #67
I'd say why to worry about memory leaks in a test mock? most likely it won't be noticed... But from consistency point I agree.
But why do you need `WeakMap`? MF object is a tree. Each node being an MF. What you need is a global object that holds the tree and allows it to grow. `new MockFirebase()` should not create a new object but return an existing one if it exists in the tree. If the object is

[2015-02-05 15:09] bendrucker commented on #67
Yeah I'm more just throwing this out there for someone's info if they happen to have a one in a million use case.

Right now you can do this without memory issues. Well, not exactly because of how GC works, but you get the idea.

[code]

At the end of the loop all the `MockFirebase` instances are garbage collected. If you're caching, there are now 1000 instances attached to the cache that can't ge

[2015-02-05 21:04] katowulf commented on #67
A minor point here and not necessarily a reason not to consider caching, but our goal is not to support complex applications. Our goal is to support isolated unit tests. For e2e testsing (cross-method, cross-class, cross-lib), one should use the real deal and not the mock version.

[2015-02-05 21:07] katowulf commented on #69
I can't think of any reason that nested deferreds should have to wait for another flush. It seems that, should a case come up, we could probably work around this with the new queue methods we added in recent updates that allow manually canceling or running items in the queue (to have granular control of ordering).

[2015-02-05 22:48] #69 closed

[2015-02-11 00:56] Grety opened #71 "GeoFire support"
is there a technique to mock GeoFire with existing implementation of MockFirebase?

[2015-02-11 01:11] bendrucker commented on #71
Someone could certainly write a mock GeoFire implementation using MockFirebase itself. I don't use it and I don't know if anyone's tried it before.

[2015-02-11 01:11] #71 closed

[2015-02-13 10:14] Grety opened #72 "Incremental updates to a reference are not stacked"
Consequent ref().update() does not stack events but rather overwrites the last one
See [example](http://jsfiddle.net/Grety/v1axrw8r/)

[2015-02-13 12:03] #72 closed

[2015-02-13 12:03] bendrucker commented on #72
Good catch. Thanks!

[2015-03-12 09:50] msiebuhr opened #78 "Infinite loop when setting keys in .transaction()'s onComplete-function"
I have an app where I do a transaction and then proceed to update some keys in another end of the database to match (I know; foreign keys in a document store).

The code below works on a real Firebase, but enters an infinite loop where `this._defer(...)` inside `MockFirebase.transaction()` is called infinitely when using `mockfirebase`:

    var mockFirebase = new (require('mockfirebase').MockFire

[2015-03-12 10:13] msiebuhr commented on #78
After making a local fork to investigate, I found the issue had been fixed when running on master (commit 31bfa7c1c342d491dfcfd3edebcad75d776dfd32, I presume).

Would it be too much bother to push a new release containing this fix soon-ish?

[2015-03-12 11:00] bendrucker commented on #78
0.10.3 is on its way up now

[2015-03-12 11:00] #78 closed

[2015-03-12 11:29] msiebuhr opened #79 "MockFirebase doesn't fail on .commit()'ing data with undefined values"
If setting `undefined` as a value in a transaction, Firebase will throw an error **transaction failed: Data returned contains undefined in property 'data'**. If the same code is run through MockFirebase, no such error is thrown.

    var Firebase = require('firebase');
    var FirebaseTokenGenerator = require('firebase-token-generator');

    var fbClient = new Firebase(process.env.FIREBASE_URL);

[2015-03-12 12:02] bendrucker commented on #79
Yeah, Firebase has a ton of validation logic that we're never going to fully replicate. Not that I'm not willing to try to create parity where possible. Just that you should be doing integration tests with the real SDK as well.

The logic that handles that validate is here:

https://github.com/firebase/firebase-bower/blob/6c7b6b95039622197aa52bf20959f4be87bd60f0/firebase-debug.js#L8578-L8615

[2015-03-12 12:05] bendrucker commented on #79
This isn't going to happen right away because I'm not willing to patch this for transactions and ignore every other write method that validates its inputs.

[2015-03-13 10:24] msiebuhr commented on #78
Confirmed fixed in 0.10.3. Thanks a lot!

[2015-03-17 11:52] #58 closed

[2015-03-23 22:03] katowulf opened #80 "Intermittent error occurring in firebase-auto-ids"
This only occurs occasionally when running tests for firebase-util.

[code]

[2015-03-24 00:03] bendrucker commented on #80
Still happening with 0.11 (just pushed)?

[2015-03-26 17:53] katowulf commented on #80
Haven't been able to repro in 0.11. Will reopen if I see this again.

[2015-03-26 17:53] #80 closed

[2015-04-10 13:43] bendrucker opened #81 "Throw immediately for validation errors"
This is a bug but may affect existing implementations. Pretty sure it only affects auth but there may be some other problem areas I'm not thinking of.

Validation errors that are determined on the client should be throw immediately and not wait for a `flush`. This is consistent with the real firebase.js, where validation errors are thrown and server errors are passed to a callback.

Since this is

[2015-04-10 14:04] #68 closed

[2015-04-10 14:25] #81 closed

[2015-04-10 17:56] katowulf commented on #81
Hey @bendrucker, great work here. Did you check whether those errors are thrown sync v. async? I'm fairly sure they are sync, but that's unusual for Firebase so it would be good to be consistent.

[2015-04-10 18:56] bendrucker commented on #81
Yeah I checked that they're sync. For example:

https://github.com/firebase/firebase-bower/blob/75f63a2350f340772188729d6950844c9f3296fb/firebase-debug.js#L12426

Which ultimates throws or is a noop:

https://github.com/firebase/firebase-bower/blob/75f63a2350f340772188729d6950844c9f3296fb/firebase-debug.js#L3199-L3212

[2015-04-18 20:01] FairchildHeavyIndustries opened #82 "support equalTo()"
need MockFirebase support for the equalTo() query

[2015-04-18 21:48] bendrucker commented on #82
See #39. I wish I had something better to offer than "maybe someday." The query stuff needs a lot of plumbing work and I don't get paid to work on this.

[2015-04-18 21:48] #82 closed

[2015-04-21 12:46] bendrucker opened #83 "MockFirebase 1.0 Roadmap"
This is going to progress slowly, but I want to lay out the path towards 1.0 and offering better support for new Firebase features, especially queries, as they arrive. I've broken things up into headers for easier reading.
## ES6

Since this is going to be almost entirely a ground-up rewrite, I'm going to write everything in ES6 and transpile it via Babel. I've been doing this for 100% of my front

[2015-04-21 12:46] bendrucker commented on #83
cc @davideast @jwngr

[2015-04-28 00:58] bendrucker commented on #83
Made a bunch of progress on thinking through how to do the data flow to cut a lot of the complexity out of the event system.

Read 1bb92da6872dab98a17ca4d92eae1f7f6dc1cb54 if you're interested. Otherwise, hoping to have more concrete stuff to show off in the coming weeks.

[2015-04-29 15:11] bendrucker commented on #83
cc @urish @jamestalmage as well

Super happy with how things are turning out thus far. Behavior's much more consistent with real Firebase, most importantly the following:

[code]

[2015-04-29 19:59] jamestalmage commented on #83
RE: Endpoint Caching

From what I can tell, endpoint caching in firebase is achievable without WeakMap. Data without any client side listeners (on the current node, or any parent node), is immediately discarded.

Add Listeners Before Write:
[code]

Write before adding listeners:
[code]

Writing to parent after listener is added to child:
[code]

Add listener to a child after listening parent has s

[2015-04-29 20:49] bendrucker commented on #83
First to address some confusion here. I'm referring to #67 which just means `new Firebase('http://endpoint') === new Firebase('http://endpoint')`. That's disabled by default but it's also done and super easy:

https://github.com/katowulf/mockfirebase/blob/fba9656fdee5af51788f9633c9cc9d04e0b543af/src/cache.js
https://github.com/katowulf/mockfirebase/blob/fba9656fdee5af51788f9633c9cc9d04e0b543af/src

[2015-04-30 00:36] jamestalmage commented on #83
I think  `new Firebase('http://endpoint') === new Firebase('http://endpoint')` should **always** evaluate `false`. Both instances should share a common cache of the backing data.

Could not agree more. Unfortunately, that is the behavior of firebase last time I checked. If they are willing to change the core Firebase API to a more sane behavior, great. But, like it or not, MockFirebase should emul

[2015-04-30 01:15] bendrucker commented on #83
Currently (as in master), each reference maintains a ton of state. In v1, child references have no state whatsoever. The root (whether you explicitly construct it or not) stores all the state, namely:

* Data
* Priorities
* Listeners

So yes, you're correct that it would be better to store these three items centrally rather than cache the Firebase instance itself. It's also extra effort for a feat

[2015-04-30 01:49] bendrucker commented on #83
Wrote up https://gist.github.com/bendrucker/1d2451c0933405e96a8c and sent it to support

Th͏e Da҉rk Pońy Lo͘r͠d HE ́C͡OM̴E̸S

[2015-04-30 16:18] katowulf commented on #83
@mikelehen could I borrow your expertise on how caching works and your knowledge of how synchronous function calls are going to change in the future?

[2015-04-30 16:51] bendrucker commented on #83
Michael's reply to my email:

So basically Zalgo will remain until the next major version.

[2015-04-30 18:48] jamestalmage commented on #83
@mikelehen

That sounds like you are going to make `ref.set()` create events asynchronously as well.

A few thoughts on that, if that is the plan:
 1. Provide a way to tell if the event is being raised due to a local call to `ref.set()` or new server data. (See my comment on @bendrucker's gist linked above).
 2. Provide a way for libraries like `angularFire` to override whatever `nextTick` functio

[2015-05-23 15:26] SimoneGianni opened #84 "mockfirebase shares references, not urls"
If I understand correctly, mockfirebase shares data on references, not on urls. So, this code, does not work :

[code]

This does not mimic Firebase behaviour. Even if I could pass references all around, I don't want to tie all layers of the applications to passing Firebase references.

There is an easy naive fix for this, caching mock references inside mockfirebase by url and return them from the

[2015-05-23 17:12] bendrucker commented on #84
This is implemented in v1 (#83) and was already requested in #67. v1 allows you to enable caching. I will not be backporting it to 0.x. v1 is at least weeks away.

[2015-05-23 17:13] #84 closed

[2015-05-28 13:24] bendrucker commented on #79
This will be implemented in 1.0 by running user inputs through [to-firebase](https://github.com/bendrucker/to-firebase). If you really want this now, I'll take a PR to master that runs all write method input through to-firebase.

[2015-06-18 04:46] ajcrites opened #86 "changeAuthState does not trigger resolution for authWithOAuth"
I'm using angularfire and have `$firebaseAuth(ref).$authWithOAuthPopup` called.

    .then(authData => sessionAuth = authData)
    .then(auth.createUser)

This works in my app, but I want to be able to test the user's login.  In my test, I have:

    authService.doPopup();
    authService.ref.changeAuthState({uid: "test"});
    authService.ref.flush();
    expect(auth.createUser).to.have.been.call

[2015-06-18 09:53] bendrucker commented on #86
You need to call `$timeout.flush()` after injecting `$timeout`. Otherwise Angular won't try to resolve the promise. This is a general Angular testing requirement and not specific to MockFirebase.

[2015-06-18 09:53] #86 closed

[2015-07-20 08:25] ikosen opened #87 "Firebase Test"
Hello,

How can I be able to test my controller that is using firebase....

                    var ref = new window_browser.MockFirebase(FIRE_URL).child(uri);

                    ref.push(test_data);

                    ref.flush();
                    createCalendarController();
                    expect(scope.eventSources).toEqual(1);

That is what i have. My controller uses firebase. I have

[2015-07-20 10:41] bendrucker commented on #87
If you post more code I might be able to help.

[2015-07-20 10:41] #87 closed

[2015-07-20 12:13] ikosen commented on #87
Thank you for the quick reply

I am trying to replicate the way Angular Mocks uses `httpBackend`. My controller fetches data from firebase using `$firebaseArray`

My intention is to use Mockfirebase to create some data which when my controller tries to fetch should have the same data created using Mock Firebase.... In short the way you'd test using `httpBackend`

[code]

[2015-07-20 12:14] ikosen opened #88 "As per issue #87"
Thank you for the quick reply

I am trying to replicate the way Angular Mocks uses `httpBackend`. My controller fetches data from firebase using `$firebaseArray`

My intention is to use Mockfirebase to create some data which when my controller tries to fetch should have the same data created using Mock Firebase.... In short the way you'd test using `httpBackend`

[code]

[2015-07-20 12:29] bendrucker commented on #88
Please don't open new issues. Closed it because it's not a bug/feature request but we can still continue discussion.

[2015-07-20 12:29] #88 closed

[2015-07-20 12:31] bendrucker commented on #87
You're welcome to try to replicate $httpBackend using MockFirebase, but MockFirebase has no connection to Angular. I doubt you'll be successful though because the semantics of HTTP calls and WebSockets are very different. You can't use a declarative API as easily for two way communication.

[2015-07-20 12:43] ikosen commented on #87
Sorry about opening an issue it felt like the only place i could get some help.

What way would you advice if I was to conduct unit tests on Firebase code used on my controller... For arguments sake lets say I have the following line in my controller....

[code]

what the test is to do is basically check if `$scope.data` is populated with some data.

[2015-07-20 14:46] bendrucker commented on #87
Yes, MockFirebase will help. I'd advise reading the AngularFire unit tests if you want an Angular focused example.

[2015-07-21 06:39] ikosen commented on #87
Hey.. I went through the tests but they don't seem to have a solution for me.... Maybe you can take a look at the following code and tell me where I am going wrong...

[code]
Thats the controller I am testing

[code]

[2015-07-21 15:02] bendrucker commented on #87
Sorry, can't fix your code for you. If you can provide a more targeted question I might be able to help.

[2015-07-21 15:20] ikosen commented on #87
Cool... Well the tests works fine when I use `new Firebase(url)` but once I bring in `$firebaseArray` it no longer works. Whats the support for `$firebaseArray` on `MockFirebase`

[2015-07-21 15:56] bendrucker commented on #87
None. MockFirebase has no knowledge of Angular, nor does it need any. You may need to trigger a digest cycle.

[2015-07-21 16:25] ikosen commented on #87
Yooo!!! Thanks Bro!!! That worked. Owe you some beers... Is it okay if I do a README for it and create a PR. I see very many people with the same issue.

[2015-07-21 16:31] bendrucker commented on #87
Glad to help. I'd be happy to consider an addition to the `tutorials/` folder that's Angular/AngularFire specific.

[2015-07-21 17:11] jamestalmage opened #89 "Add an `onFlush` callback for hooking to ngMock.timeout, sinon fake-timers, etc."
Something like:

[code]

Need to think through the API, and how it would interact with autoFlush, etc.

Just putting the idea out there.

[2015-07-21 17:30] bendrucker commented on #89
Any reason why this would be needed over just monkey patching `flush`?

[2015-07-21 17:35] jamestalmage commented on #89
I don't know, it just popped in my head while reading #87.

I'd need to actually try it on a project first, and see if it had utility. It does seem I commonly `$timeout.flush()` after `ref.set`, but not sure what the implication would be.

We could certainly make this easier to toggle on and off than a monkey patch would be.

Like I said, just spitting out an idea.

[2015-07-23 05:38] ikosen commented on #87
Hey... `mockfirebase` doesn't have support for the `orderBy*` queries currently?

[2015-07-23 05:52] bendrucker commented on #87
Nope

[2015-07-23 05:53] ikosen commented on #87
Any workarounds or I just need to do my own mock for that...

[2015-08-26 07:09] dylanjha opened #92 "Lacking support for `limitToFirst()` and `limitToLast()`"
The Firebase javascript library prints Deprecation warnings for `limit()`. Consumers of the client library should be using `limitToFirst()` and `limitToLast()` instead

[2015-08-26 14:49] bendrucker commented on #92
See #83. I put all work on this on pause. Just don't have the time for it right now. Would love to support 2.0 queries but I'm not able to spare the dozens of hours needed to make it happen right now.

[2015-08-26 14:49] #92 closed

[2015-08-26 17:13] dylanjha commented on #92
@bendrucker thanks for the update!

[2015-09-04 18:50] TmanTman opened #93 "Trouble creating two references to same data"
When working with MockFirebase, my application writes to the mocked database. To unit test this code, I would like to look at the same data. When I try to create a new reference explicitly with the pattern
[code]
(which points to the same data my application does) it does not find the same data. I have to pass the created Firebase node reference  from my application to my unit tests. This is unwan

[2015-09-04 19:10] bendrucker commented on #93
See #84. Unfortunately I don't have time to do anything but ship small bug fixes w/ MockFirebase so this is unlikely to be supported by MF itself.

[2015-09-04 19:10] #93 closed

[2015-09-05 05:44] katowulf commented on #93
The way to accomplish this is to use a service for your Firebase refs, such as:

    app.constant('Ref', new Firebase(URL)); // plenty of ways to do this part

Now Ref can be mocked by your test units as you see fit (e.g. replaced by MockFirebase). If you utilize a single ref, the changes to data will be shared.

But really, this is missing the point. MockFirebase is a unit testing tool. It should

[2015-09-22 22:13] aj0strow commented on #83
Oh. My unit tests need this. Why not have `disconnect` and `reconnect` methods much like the `flush` method to give sync testing control to the developer.

[2015-09-22 22:15] aj0strow opened #94 "Test suite breaks due to onDisconnect"
#83 is related.

I don't want to put guard statements into my app code, and seems like having it stubbed out should be in the library.

[code]

[2015-09-25 23:01] ginovva320 opened #95 "Nodes with values set to null should not be created"
I'm running across this issue with both `set` and `update`. If part of the submitted data contains a *new* node whose value is `null`, the mock data returned includes that node when it should not. Here's a sample test to demonstrate:

**test/unit/firebase.js**:
[code]

**output**:
[code]

[2015-09-30 05:50] jamestalmage opened #97 "Moving mockfirebase forward"
@katowulf @jwngr
With Ben taking a step back, where does mockfirebase stand? We have now lagged behind Firebase by at least a couple releases. Should we deprecate and just point people towards `firebase-server`? It would be mean giving up on the nice synchronous `flush` features in `mockfirebase`, but writing async tests is a small price to pay if it means your test framework stays up to date with

[2015-09-30 05:52] bendrucker commented on #97
I don't have an outline of what's left to do. I can provide a little bit of support here and there if needed.

[2015-09-30 06:38] jamestalmage commented on #97
So,
I just ran a quick test against `firebase-server` and it already supports queries and the atomic deep writes.

https://gist.github.com/jamestalmage/21d34205529136acc6a8?ts=2

That is impressive... and pretty demotivating when it comes to continued mockfirebase development.

[2015-09-30 06:49] jamestalmage commented on #97
cc @urish

Care to weigh in here? Anything missing from `firebase-server` where `mockfirebase` is the blocker? Anything more we can do on our end to help support your efforts?

[2015-09-30 08:32] urish commented on #97
@jamestalmage actually, queries don't work reliably, as they are not implemented by the server. as far as I can say, the client itself orders the data when you query by `orderBy`, but then, if you used it on conjunction with `startAt` / `endAt` / `equalTo` / `limitToLast`, I believe that it wouldn't work as expected as there is no server-side support for that yet.

So, as far as I can tell, querie

[2015-09-30 08:45] jamestalmage commented on #97
@urish check the gist I posted above.

excerpt:

[code]

that seemed to work, even with setting using the deep-path syntax.

I perused all the old issues in your repo and didn't see one regarding this.

[2015-09-30 08:48] jamestalmage commented on #97
Obviously, the server is not being "smart" about what it sends down to the client (it is sending everything, despite the fact it's a limited query), but I can't see why that is a problem for tests.

[2015-09-30 09:07] urish commented on #97
@jamestalmage I have done the tests a few months ago, so I can't recall the exact scenario that makes it fail. I will try to reproduce and update you...

[2015-09-30 21:54] urish commented on #97
@jamestalmage after experimenting with it for a while, I could only cause priorities to fail. For example, the following piece of code:

	var ref = new Firebase('ws://test.firebaseio.com:5000');
	var statesRef = ref.child('states');
	var query = statesRef.startAt(1);

	ref.child('states/AL').setWithPriority('Alabama', 200);
	ref.child('states/FL').setPriority(100);
	query.on('value', function(snap

[2015-09-30 22:21] jamestalmage commented on #97
@urish

That output looks right, but in reverse order.

This test works fine: (I just pushed it to gist)

[code]

[2015-09-30 22:31] jamestalmage commented on #97
@urish
I do think it is on the `firebase-server` end. I will file an issue there. Let's keep the discussion here on the future of mockfirebase.

[2015-09-30 22:35] urish commented on #97
@jamestalmage great

[2015-10-01 00:52] jamestalmage opened #98 "`export()` with deep prioirites"
Currently `getData()` does not export priorities, and `snap.export()` seems to only export the priority on the top level object.

(I will flush the issue out in detail later).

[2015-10-01 04:46] jamestalmage opened #99 "setPriority should trigger `value` listeners;"
Firebase behaves as follows

(This is from a REPL session in browser console, so time passes between each line)

[code]

[2015-10-21 06:18] nvdbleek opened #101 "child_added triggered with partial data"
The `child_added` event is triggered with not the complete data tree when you set data on a child that doesn't yet exists (all but the first key of the object is not present yet, and you gat a value event for the rest of the keys). My use case is to use `transaction()` to make sure that the child is only added when it doesn't yet exists, to make sure that only one client will add the node at that

[2015-10-21 21:48] jwngr commented on #97
Thanks for the discussion everyone. And sorry for the dead silence from Kato and I. Speaking frankly, I don't see a lot of time for Kato or I to pick up where Ben left off and bring mockfirebase back up the current version of Firebase. We are both swamped with other work and unfortunately things like mockfirebase have fallen to the wayside. Without someone on our team devoted to keeping this updat

[2015-10-22 04:20] jamestalmage commented on #97
Well turns out `Firebase` itself can be turned into a `mockfirebase` equivalent pretty easily.

https://github.com/urish/firebase-server/pull/13

https://github.com/jamestalmage/firebase-copy

[2015-11-17 22:59] mvuksano opened #102 "Mock firebase 0.12.0 not in releases."

[2015-12-17 14:02] Grantlyk commented on #97
So, from what I can gather `mockfirebase` is no longer being maintained? Are you looking for new maintainers/contributors? @bendrucker @katowulf

[2015-12-29 13:17] dotdotcommadot opened #104 "Dependency on MD5 ~1.2.1 while this is deprecated"
Description:
In package.json, on line 28, mockfirebase declares a dependency on library "MD5": "~1.2.1".
This library has been deprecated as of recently.
The name of the package has been changed together with the version number, so 'MD5' is now changed to 'md5'.
In conclusion this means the dependency should be changed to "md5": "~2.0.0".
But obviously this might also mean the new md5 APIhas to be

[2016-01-05 18:41] AaronBuxbaum opened #106 "Testing for Angularfire $firebaseAuth"
I use Angularfire's `$firebaseAuth` wrapper around authentication on my app and need to use the Javascript-level implementation instead in order to use mockfirebase's mock. Any intention of adding this, like there are for $firebaseArray and $firebaseObject?

[2016-02-01 15:59] Jerome2606 commented on #87
@ikosen can you share any code about your unit test, I'm looking to reproduce a similar test see https://github.com/casetext/fingular/issues/2

[2016-03-02 15:48] bryonchan commented on #102
+1 Bower is not letting me install 0.12.0, I think because of this issue.

[2016-03-21 14:43] olivierlesnicki opened #108 "Support for Promises"
https://www.firebase.com/blog/2016-01-21-keeping-our-promises.html

MockerFirebase API has now diverged from Firebase API (mainly due to the absence of Promises)

[2016-04-14 12:20] bricef commented on #108
I second that. That would be really helpful :+1: Will try to take a look at PR for this myself, but not sure on when I'll be able to share changes.

[2016-04-19 00:22] liveakshay commented on #106
Hey - I can't figure this out. Is there a way to do this today?

[2016-05-17 22:05] dylanjha commented on #108
anyone working on this? 😁  Happy to help contribute/test/qa but don't want to start from scratch if someone has already made progress

[2016-05-18 08:52] olivierlesnicki commented on #108
@dylanjha don't think anyone has, go for it!

[2016-06-16 19:03] dylanjha commented on #108
I decided to go with https://github.com/urish/firebase-server instead which is working out nicely for me

[2016-07-05 13:36] ciekawy opened #109 "firebase sdk 3.0 support"
what about new sdk 3.0 support? as there is an official release this would be an interested option

https://firebase.google.com/docs/web/setup

[2016-07-09 18:37] FredyC commented on #108
I don't like much the `firebase.server` as it needs to be executed in a separate process (unless I've missed something) so it's unusable in Travis and similar services.

[2016-07-09 19:40] dylanjha commented on #108
I'm running firebase.server on circleci with no issues. In the same node process that starts the jasmine testrunning.

[2016-07-10 12:03] kpgarrod commented on #109
I would also be interested in this or any alternative approach to testing Angular2 apps with AngularFire2. Any plans?

[2016-07-27 07:53] mbrevda commented on #108
I don't think the complication is about issues with another process, as much as it defies the methodology of unit tests. Idealy, you don't want to worry about external services until you reach integration/functional tests. Hence, while firebase-server has it's place, it doesn't belong in unit tests.

I agree that promise support is needed to keep the api in sync with Firebase.

[2016-08-02 08:24] aaweb commented on #109
+1

[2016-08-12 20:54] davidsbailey commented on #108
In case it's helpful, here's how I've hacked MockFirebase in my project to support promises: https://github.com/code-dot-org/code-dot-org/pull/9976/commits/cf4adbc185a91aa726c2e3df3b94a8162204ba5d

[2016-08-17 11:23] simonajones commented on #109
+1

[2016-08-20 16:59] Nightbr commented on #109
+1 and we are waiting for this here: https://github.com/firebase/firebase-util/issues/96#issuecomment-232568126
Thanks

[2016-08-31 02:32] soumak77 commented on #109
@katowulf I wouldn't mind helping out to update this library to support firebase sdk 3.x.x if you can provide feedback on what needs to be changed

I added the following to `MockFirebase.override` so that it overrides the `window.firebase` reference.  This allows using the new syntax of `firebase.database().ref()` in both source and tests.
[code]

I then updated `MockFirebase.ref` to be a property

[2016-08-31 11:27] soumak77 commented on #109
I was able to get basic support added for firebase sdk 3.x.  See https://github.com/katowulf/mockfirebase/pull/112 for more info.

[2016-09-02 02:49] soumak77 commented on #108
I was able to get authentication promise support added for firebase sdk 3.x. See #112 for more info.

[2016-09-03 07:10] soumak77 commented on #97
@katowulf @jwngr
Is this library still being maintained or would you suggest creating a new repo if I wanted to update support to 3.x?

[2016-09-05 21:50] katowulf commented on #97
Okay, so first of all, let's set expectations here:

This was an early solution for testing with Firebase. As I've grown more experienced with real-time and particularly with integrating it into frameworks like Angular, which provide sophisticated e2e tools, I've realized it's not the best answer here--it probably creates more nuanced behaviors and false positives than it helps correct.

Generally

[2016-09-07 21:18] soumak77 commented on #97
@katowulf I understand the expectations and just needed clarity on whether this library was still being watched.  I do see value in mockfirebase so I wouldn't mind helping out maintain the library.

I do agree with you that spies can be used to achieve the same thing as mockfirebase for unit testing, however, spies don't scale.  Large scale projects would need to have spies everywhere and if the f

[2016-09-21 03:56] jamestalmage commented on #97
@soumak77 - check out `firebase-server`. It's a better solution for integration testing, and since it uses Firebase code itself under the hood, it's easier to keep up to date.

[2016-09-21 04:02] soumak77 commented on #97
@jamestalmage I agree that `firebase-server` should be used for integration or end-to-end testing, but it does not fit for unit testing

[2016-09-29 04:12] giltotherescue commented on #109
Any update on this?

[2016-10-20 15:13] Grantlyk commented on #109
I would also be interested in using mockFirebase with the 3.x.x SDK -- It seems that this project is dead now? I'd love to contribute to getting mockFirebase ready

[2016-11-15 17:36] a4n0nym0u5 opened #113 "No idea for how to access the child 'Team" during unit test"
Does anyone has an idea for how to access the child during unit test?
And, what the syntax is?

[2018-01-17 21:00] crazypigs opened #114 "How to call MockFirebase.override()"
I keep getting this error:
`	TypeError: __WEBPACK_IMPORTED_MODULE_1_mockfirebase___default.a.override is not a function
`

In my spec.ts I imported it at the top

`import MockFirebase from'mockfirebase';`

then in my before each i called:
` MockFirebase.override();`

Does it need to be in the karma config and where ??
I am making an ionic app using ionic example testing [git repo](https://github.c

[2018-01-17 21:07] crazypigs commented on #114
var MockFirebase = require('mockfirebase').MockFirebase;

in the setup instructions where do i put this?

[2020-12-06 18:27] #39 closed

[2020-12-06 18:27] #83 closed